:root {

    --primary-color: #1cbab7;
    --secondary-color: #0f2a72;
    --third-color: #328d8d;
    --table-head: #418cc1;
    --fourth-color: #7BAFD4;
    --text-color: #000000;
    --border-color: #000000;
    --link-hover-color: #4B9CD3;
    --secondary-text: #faebd7;
}

/*Used on all pages */

html,
body {
    color: var(--text-color);
    background-color: var(--secondary-color);
}

h2 {
    background-color: var(--primary-color);
}

header {
    background-color: var(--primary-color);
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
}

#high-temp-message {
    text-align: center;
}

footer {
    font-size: .75em;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header img {
    max-width: 75px;
    height: auto;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

a:hover {
    font-size: 1.25em;
}

#high-temp-message {
    background-color: red;
    border: solid;
}

.tempButton {
    background-color: red;
    color: var(--text-color);
    border: outset;
    border-color: var(--border-color);
}

.social img {
    height: 25px;
    width: auto;
    margin-left: 10px;
}

.map-container {
    max-width: 640px;
    height: auto;
    border: 5px solid var(--border-color);
    padding: 1px;
}

.map {
    width: 100%;
    height: auto;
}

.eye-catcher img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.sidebar {
    position: fixed;
    top: 150px;
    right: 1%;
    overflow: hidden;
    z-index: 1000;
}

.sidebar img {
    display: block;
    width: 2em;
}

.weather,
.forecast-card {
    max-height: 125px;
    line-height: .25;
}

.weather img,
.forecast-card img {
    max-height: 50px;
    margin: -15px 0 0 0;

}

.vehicle-card img {
    max-width: 200px;
    width: 100%;
    height: auto;
    object-fit: contain;
}

.vehicle-card>* {
    text-align: center;
}

.vehicle-card h4 {
    text-decoration: underline;
    margin: 0;
}

.vehicle-card ul {
    display: inline-block;
    text-align: left;
    margin: 0;
}

.vehicle-card li {
    margin: 5px 0 5px 0;
}

#weather,
#reviews {
    display: flex;
    justify-content: center;
    margin: 1px 0 1px 0;
    padding: 20px;
    text-align: center;
    gap: 2em;
}

#current-weather,
.forecast-card,
#review-1,
#review-2,
#review-3,
#review-4,
.vehicle-card,
.reservation-details section {
    box-shadow: 0 4px 8px 0;
    border: 2px solid var(--border-color);
    border-radius: 10px;
    padding: 10px;
    background-color: var(--primary-color);
}

.island-map {
    text-align: center;
}

.island-map img {
    max-width: 400px;
    height: auto;
}

@keyframes flash {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.flash {
    animation: flash 1.5s infinite;
}

.forecast-card-container {
    display: flex;
    gap: 1em;
}

.logo {
    width: 75px;
    height: auto;
}

.nav-link {
    margin: 0 7%;
}

.forecast-card h3 {
    margin: 10px 0 15px 0;
}

.weather h2 {
    margin: 5px 0 15px 0;
}

.forecast-card img {
    margin-bottom: -5px;
}

.weather p,
.forecast-card p {
    margin: 0 0 15px;
}

#reservations {
    display: grid;
    grid-template-rows: auto auto auto;
    gap: 10px;
}

#reservations h2 {
    grid-column: 1 / -1;
    text-align: center;
    padding: 0;
    margin: 0;

}

.vehicles-grid {
    display: grid;
    grid-gap: 15px;
    background-color: var(--secondary-color);

}

table {
    border-collapse: collapse;
    background-color: var(--fourth-color);
}

th,
td {
    border: 2px solid var(--border-color);
    padding: 8px;
    text-align: center;
}

th {
    background-color: var(--table-head);
}

.reservation-details {
    margin-bottom: 10px;
}

/* end use all */

@media only screen and (max-width: 469px) {

    .vehicle-info img {
        max-width: 100px;
    }

    #headerElement {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        /* remove? */
        text-align: center;
    }

    #headerElement img {
        grid-column: 1 / -1;
    }

    #headerElement a {
        display: block;
        margin-bottom: 10px;
    }

    .sidebar {
        display: none;
    }

    #weather,
    #reviews {
        flex-direction: column;
    }

    .forecast-card-container {
        flex-direction: column;
        width: 100%;
    }

    .vehicles-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    #weather {
        margin: 350px 0 500px 0;
    }

    .rental-info {
        margin-bottom: 15px;
    }

    .reservation-details {
        margin: 0 15px 0 20px;
    }

    .island-map img {
        max-width: 90%;
    }

    #current-weather {
        margin-top: 150px;
    }

}