:root {

    --primary-color: #1cbab7;
    --secondary-color: #0f2a72;
    --third-color: #add8e6;
    --text-color: #ffffff;
    --border-color: #a9a9a9;
    --link-hover-color: #4B9CD3;
    --secondary-text: #faebd7;
}

/*Used on all pages */

html {
    color: var(--text-color);
}

h2{
    color: var(--text-color);
    background-color: var(--primary-color);
}

header {
    background-color: var(--primary-color);
            position: sticky;
        top: 0;
        z-index: 1000;
        width: 100%;
}

footer {
    font-size: .75em;
    background-color: var(--primary-color);
}

header img {
    max-width: 75px;
    height: auto;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

a:hover {
    font-size: 1.25em;
}

.reservation-button a:hover {
    font-size: 1em;
}

.social img {
    height: 25px;
    width: auto;
    margin-left: 10px;
}

.map-container{
    max-width: 640px;
    height: auto;
    border: 5px solid var(--border-color);
    padding: 1px;
}

.map {
    width: 100%;
    height: auto;
}

/* end use all */

@media only screen and (max-width: 469px) {

    #headerElement {
        grid-template-columns: 1fr;
        grid-template-rows: auto; /* remove? */
        text-align: center;
      }
    
      #headerElement img {
        grid-column: 1 / -1;
      }
    
      #headerElement a {
        display: block;
        margin-bottom: 10px;
      }
    
    }

}
