@media only screen and (min-width: 469px) {

    header {
        display: grid;
        grid-template-columns: auto 10em 1fr auto auto;
        align-items: center;
        padding: 5px;
    }

    header p {
        grid-column: 2;
        text-align: center;
    }

    nav {
        grid-column: 3;
        justify-self: center;
        justify-content: space-evenly;
    }

    nav a {
        padding: 100px;
        font-size: 1.25em;
    }

    #contact-info {
        grid-column: 4;
        justify-self: center;
        margin-right: 15px;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .eye-catcher {
        position: relative;
        display: inline-block;
    }

    .eye-catcher img {
        display: block;
    }

    .eye-catcher h2 {
        position: absolute;
        top: 85%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        padding: 10px;
        text-align: center;
        opacity: 0.75;
    }

}
