@media only screen and (min-width: 469px) {

    #headerElement {
        display: grid;
        grid-template-columns: auto auto 1fr;
        align-items: center;
    }

    #high-temp-message{
        text-align: center;
    }
    .logo {
        width: 75px;
        height: auto;
    }

    .nav-link {
        margin: 0 7%;
    }

    .message h1 {
        background-color: red;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .eye-catcher {
        position: relative;
        display: inline-block;
    }

    .eye-catcher img {
        display: block;
    }

    .close-button {
        background-color: var(--primary-color);
        opacity: 0.75;
    }

    .eye-catcher h2 {
        position: absolute;
        top: 85%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 10px;
        text-align: center;
        opacity: 0.75;
    }