body {
    color: white;
}

header {
    margin: 10px;
    background-color: #046A38;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 50% 50%;
}

header img {
    margin: 10px;
}

.eye {
    max-width: 99.5%;
}

.cardsdiv {
    display: grid;
    grid-template-columns: 3fr 3fr;
}

.card {
    border: 2px solid #000000;
    background: #046A38;
    color: #FFFFFF;
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

footer {
    margin: 10px;
    background-color: #046A38;
    text-align: center;
}

.headergrid {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-areas:
        "a b"
        "a b"
        "c d"
        "c d";

}

.headergrid h1 {
    font-size: 50px;
    text-align: center;
}

.headergrid nav {
    grid-column: 2 / -2;

}

.navigation {
    margin-top: 110px;
}

.navigation li {
    display: inline;
    border: solid;
    justify-content: space-between;
    list-style: none;
    font-size: 30px;
    padding: 20px;
}

.logo {
    height: 30px;
    width: auto;
}