@import url("https://fonts.googleapis.com/css?family=Montserrat");

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    color: white;
    font-size: 20px;
}

header {
    margin: 10px;
    background-color: #046A38;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 50% 50%;
}

.cardsdiv {
    display: grid;
    grid-template-columns: 3fr 3fr;
}

.card:first-child {
    grid-column: 1 / span 2;
    text-align: center;
}

.card a {
    text-decoration: none;
}

.card a:hover {
    background-color: #006400;
    font-size: 30px;
}

.card:nth-child(4) {
    grid-column: 1 / span 2;
}

.card {
    border: solid #000000;
    background: #046A38;
    color: #FFFFFF;
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.logo {
    height: 20px;
    width: auto;
}

.eye-catcher {
    max-width: 99.5%;
}

.headergrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    height: auto;
}

.headergrid h1 {
    font-size: 50px;
    text-align: center;
    grid-column: 2 / span 5;
}

header img {
    margin: 10px;
    width: 100%;
    height: auto;
}

.headergrid nav {
    grid-column: 3 / 6;
}

footer {
    margin: 10px;
    background-color: #046A38;
    text-align: center;
}

.navigation a {

    text-decoration: none;
}

.navigation a:hover {
    background-color: #006400;
}


@media only screen and (max-width: 400px) {

    header {
        padding-bottom: 50px;
    }

    .headergrid {
        height: auto;
        width: auto;
    }

    .headergrid img {
        display: none;
    }

    .headergrid h1 {
        text-align: left;
        font-size: 25px;
    }

    #hamburger {
        display: block;
        font-size: 2rem;
        font-weight: 600;
    }

    .navigation {
        display: grid;
        margin: 0 auto;
        padding: 0;
    }

    .navigation li {
        display: none;
    }

    .navigation li a {
        text-decoration: none;

    }

    .show li {
        display: block;

    }

    .show li a {
        display: block;
        font-size: 15px;

    }

    #hamburger::before {
        font-size: 2rem;
        content: "☰";
    }

    #hamburger.show::before {
        font-size: 2rem;
        content: "X";
    }

    .card h3 {
        text-align: center;
    }

    .card:nth-child(3) {
        grid-column: 1 / span 2;
    }
}