@media only screen and (min-width: 768px) {

    .join-container {
        float: left;
        width: 40%;
        max-width: 600px;
        background-color: var(--primary-color);
        border: none;
    }

    #hamburger {
        display: none;
    }

    header img {
        margin: 10px;
        width: 100%;
        height: auto;
    }

    .cardsdiv {
        display: grid;
        grid-template-columns: 3fr 3fr;
    }

    .card {
        border: 2px solid #000000;
        color: #FFFFFF;
        margin: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }

    footer {
        margin: 10px;
        text-align: center;
    }

    .headergrid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 10% 70% 20%;
        width: 100%;
        height: auto;

    }

    .headergrid h1 {
        font-size: 50px;
        text-align: center;
        grid-column: 2 / span 5;
    }

    .headergrid nav {
        grid-column: 3 / 6;
        grid-row: 3 / span 3;
    }

    .navigation {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }

    .navigation li {
        display: inline;
        list-style: none;
        font-size: 30px;
        margin: 5px;
        padding: 5px;
    }

    .logo {
        height: 30px;
        width: auto;
    }
}