@media only screen and (min-width: 768px) {


    /* join css */
    :root {
        --link-hover-color: #4B9CD3;
        color: #ffffff;
        --primary-color: #002244;
        --secondary-color: #faebd7;
        --third-color: #0f2a72;
        --border-color: #a9a9a9;

    }

    .light-mode {
        --primary-color: #002244;
        --secondary-color: #faebd7;
        --link-hover-color: #4B9CD3;
    }

    body {
        background-color: var(--primary-color);
    }

    .join-container {
        float: left;
        width: 40%;
        max-width: 600px;
        background-color: var(--primary-color);
        border: none;
    }

    .nonProfit,
    .bronze,
    .silver,
    .gold {
        border-radius: 10px;
        border: solid var(--border-color);
        margin: 10px;
        background-color: var(--third-color);
        padding: 10px;
    }

    h3 {
        font-size: 2em;
        text-decoration: underline;
        text-align: center;
    }

    .formInfo,
    .memberLevel,
    .businessInfo,
    .submitBtn {
        background-color: var(--third-color);
        border-radius: 10px;
        margin: 10px;
        padding: 10px;
        border: solid var(--border-color);
        width: 90%;
    }

    .join-container legend {
        border: solid;
        border-radius: 10px;
        padding: 5px;
    }

    .join-h1 {
        text-align: center;
    }

    .formInfo {
        display: inline-grid;
    }

    .formHeader {
        font-size: 1.5em;
        background-color: var(--third-color);
        border-radius: solid white 1px;
    }

    .memberLevel {
        display: inline-grid;
        line-height: 1.5;
        padding: 15px;
    }

    .businessInfo textarea {
        height: 100px;
        width: 90%;
        padding: 5px;
    }

    .formInfo label,
    .formInfo input {
        display: flex;
        flex-direction: column;
        padding: 5px;
    }

    .submitBtn {
        text-align: center;
        border: none;
        background-color: var(--primary-color);
    }

    .join {
        width: 50%;
        height: 40px;
        font-size: 1.5em;
    }

    footer {

        clear: both;
    }

    /*end join */
    #hamburger {
        display: none;
    }

    header img {
        margin: 10px;
        width: 100%;
        height: auto;
    }

    .cardsdiv {
        display: grid;
        grid-template-columns: 3fr 3fr;
    }

    .card {
        border: 2px solid #000000;
        color: #FFFFFF;
        margin: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }

    footer {
        margin: 10px;
        text-align: center;
    }

    .headergrid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 10% 70% 20%;
        width: 100%;
        height: auto;

    }

    .headergrid h1 {
        font-size: 50px;
        text-align: center;
        grid-column: 2 / span 5;
    }

    .headergrid nav {
        grid-column: 3 / 6;
        grid-row: 3 / span 3;
    }

    .navigation {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }

    .navigation li {
        display: inline;
        list-style: none;
        font-size: 30px;
        margin: 5px;
        padding: 5px;
    }

    .logo {
        height: 30px;
        width: auto;
    }
}