@media only screen and (max-width: 767px) and (min-width: 470px) {

    * {
        margin-left: 3px;
    }

    #hamburger {
        display: none;
    }

    .headergrid {
        grid-template-rows: 15% 65% 30%;
        grid-template-columns: 5% 20% 35% 20% 20%;
        width: 100%;
        height: auto;
    }

    .headergrid h1 {
        font-size: 30px;
    }

    .headergrid nav {
        grid-column: 2 / span 4;
        grid-row: 3 / span 3;
    }

    .headergrid ul {
        font-size: 10px;

    }

    .navigation li {
        display: inline;
        list-style: none;
        margin: 5px;
    }

    .navigation a {
        font-size: 20px;
    }

    .eye-catcher {
        margin-left: 10px;
    }

    .card h3 {
        font-size: 20px;
    }

    .card p {
        font-size: 15px;
    }

    footer p,
    span {
        font-size: 15px;
    }

    header img {
        display: none;
    }

}