header,
footer {
    background-color: blue;
    color: antiquewhite;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    margin: 0 auto;
    text-align: center;

}

header img {
    width: 120px;
    height: auto;
    border: 1px solid black;
}

footer {
    font-size: 20px;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: blue;
}

nav a {
    color: antiquewhite;
    font-size: 25px;
}

h1 {
    display: flex;
    align-items: center;
}

h2,
h3 {
    font-size: 30px;
    text-align: center;
}

ul {
    list-style-type: none;
    font-size: 30px;
}

.card {
    border: 2px solid black;
    background: blue;
    color: antiquewhite;
}

.card a {
    color: antiquewhite;
}

