@import url("https://fonts.googleapis.com/css?family=Montserrat");

* {
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: white;
    font-family: 'Montserrat';
    background-color: antiquewhite;
}

.temple{
    text-align: center;
}

@media only screen and (max-width: 767px) {

    header,
    footer {
        background-color: #0000ff;
        color: #faebd7;
        text-align: center;
        align-items: center;
    }

    body {
        background-color: #faebd7;
        margin: 0 auto;
        text-align: center;
    }

    header img {
        width: 120px;
        height: auto;
        border: 1px solid #000000;
    }

    footer {
        font-size: 20px;
    }

    nav {
        background-color: #0000ff;
    }

    nav a {
        color: #faebd7;
        font-size: 25px;
    }

    h2,
    h3 {
        font-size: 30px;
        text-align: center;
        background-color: #000080;
    }

    ul {
        list-style-type: none;
        font-size: 30px;
    }

    li {
        list-style: none;
    }

    .card {
        display: grid;
        grid-template-columns: 20% 70% 10%;
        grid-template-rows: 10% 90%;
        border: 2px solid antiquewhite;
        background: #0000ff;
        color: #faebd7;
        text-align: center;
    }

    .card h3 {
        grid-column: 1 / 4;
        font-size: 25px;
    }

    .card:nth-child(2) {
        grid-template-rows: 30% 70%;
    }

    .card ul {
        grid-column: 2 / 3;
        text-align: left;
    }

    .card a {
        color: #faebd7;
    }

    .footerimg {
        height: 25px;
        width: auto;
    }


    #hamburger {
        display: block;
        font-size: 2rem;
        font-weight: 600;
    }

    .navigation {
        display: grid;
        margin: 0 auto;
        padding: 0;
    }

    .navigation li {
        display: none;
    }

    .navigation li a {
        text-decoration: none;
    }

    .navigation li a:hover {
        color: #ffff00;
    }

    .show li {
        display: block;
    }

    .show li a {
        display: block;
    }

    #hamburger::before {
        font-size: 2rem;
        content: "☰";
    }

    #hamburger.show::before {
        font-size: 2rem;
        content: "X";
    }

    .map {
        display: grid;
        grid-template-columns: 10% 80% 10%;
        margin-bottom: 5px;

    }

    .map iframe {
        grid-column: 2 / 3;
        height: auto;
        width: 100%;
    }
}