header,
footer {
    background-color: blue;
    color: antiquewhite;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    margin: 0 auto;
    text-align: center;

}

header img {
    width: 120px;
    height: auto;
    border: 1px solid black;
}

footer {
    font-size: 20px;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: blue;
}

nav a {
    color: antiquewhite;
    font-size: 25px;
}

h1 {
    display: flex;
    align-items: center;
}

h2,
h3 {
    font-size: 30px;
    text-align: center;
}

ul {
    list-style-type: none;
    font-size: 30px;
}

li {
    list-style: none;
}

.card {
    border: 2px solid black;
    background: blue;
    color: antiquewhite;
}

.card a {
    color: antiquewhite;
}

#flag {
    height: 25px;
    width: auto;
}

#logo {
    height: 30px;
    width: auto;
}

#hamburger {
    display: block;
    font-size: 2rem;
    font-weight: 600;
    text-decoration: none;
}

.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0 auto;
    max-width: 768px;

}

.navigation li {
    display: none;
}

.navigation li a {
    display: block;
    text-align: left;
    text-decoration: none;

}

.navigation li a:hover,
.navigation li a:active {
    color: yellow;
}

.show li {
    display: block;
}

.show li a {
    display: block;
}

#hamburger::before {
    font-size: 2rem;
    content: "☰";
}
#hamburger.show::before {
    font-size: 2rem;
    content: "X";
}